body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  padding: 30px;
}

p {
  line-height: 30px;
}

a {
  color: rgb(17, 123, 162);
}

.page {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.page img {
  position: absolute;
  height: 480px;
  align-self: flex-end;
  display: flex;
  bottom: 30px;
}

.content {
  padding-top: 50px;
  font-weight: 300;
  color: #373737;
  font-size: 18px;
  max-width: 850px;
}

@media (max-width: 720px) {
  .page {
    padding: 15px;
  }

  .page img {
    display: none;
  }
}
