nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}

nav ul li a {
  color: rgb(17, 123, 162);
  border-bottom: 3px solid rgb(127 181 217 / 50%);
  padding: 3px 0;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(9, 76, 100);
  border-bottom: 3px solid rgba(55, 102, 134, 0.5);
  transition: all 0.2s ease-in-out;
}
